body{
    margin: 0;
    background: rgb(24, 24, 24);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
}

header{
    background-color: rgb(209, 64, 64);
    padding: 10px 10px 10px 10px;
}

header h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30;
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-left: 700px;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav{
    float: right;
    margin-left: 400px;
}

nav a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(0, 0, 0);
    font-size: 1.4rem;
    text-transform: uppercase;
    text-decoration: none;
}

nav a:hover {
    color: rgb(201, 197, 206);
    outline: rgb(201, 197, 206) solid 2px;
    outline-color: rgb(201, 197, 206);
    padding: 10px 0px 10px 0px   
}

nav ul{
    margin-top: 10px;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 20px;
}
.inicio p{
    text-align: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
    width: 50%;   
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
}
.inicio h2{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
    text-transform: uppercase;
    color: rgb(201, 197, 206);

}

.letra-grande {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 100px;
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 50px;
    width: 50%;
}

.imagem-para-esquerda{
    display: flex;
    flex-direction: row;
    margin-left: 70px;
}

.imagem-para-esquerda h2{
    margin-left: 70px;
    margin-top: 160px;
    text-align: center;
}

.imagem-para-esquerda img{
    width: 800; 
    height: 500;
}

.imagem-para-direita{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 70px;
}

.imagem-para-direita h2{
    margin-right: 70px;
    margin-top: 160px;
    text-align: center;
}

.imagem-para-direita img{
    width: 800; 
    height: 500;
}